extends layout

block content
    -data = data || {}


    body
        h1 Usuario inici贸 sesi贸n exitosamente
        h2 bienvenido 
            span= username

    if admin
        h3 Usuario inici贸 sesi贸n como administrador
        a(href = '/register' class= 'btn-lg btn-primary btn-block') Registrar un usuario