extends layout

block content
    -data = data || {}


    body
        h1 Usuario inició sesión exitosamente
        h2 bienvenido 
            span= username

    a(href = '/logout' class= 'btn-lg btn-primary btn-block') Cerrar sesión

    if admin
        h3 Usuario inició sesión como administrador
        a(href = '/register' class= 'btn-lg btn-primary btn-block') Registrar un usuario

        br

        a(href = '/cambiar' class= 'btn-lg btn-primary btn-block') Cambiar contraseña a un usuario